<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="add">
            <input type="text" v-model="newTask.text" @keyUp.enter="addTask" placeholder="descrivi l'attività, inserisci ! se importante"></input>
            <button @click="addTask">aggiungi</button>
            <span v-show="inputError">almeno 3 caratteri per aggiungere il task</span>
        </div>

        <ul>
            <!-- <li v-for="(task, i) in taskList" @click="changeStatus(i)" :class="task.done? 'done' : '' " > -->
            <li v-for="(task, i) in taskList" @click="changeStatus(i)" :class="{done: task.done, important: task.important}">
                <!-- :class="{done: task.done, important: task.done==true?}" -->
                <!-- :class="['fissa', (cond?) 'uno' : 'due']" -->
                <!-- :class="getClass(i)" e fai il metodo che controlla quello che vuoi -->
                <span>{{task.text}}</span> 
                <button @click="removeTask(i)">&cross;</button></li>
        </ul>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>